DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASS=""
DB_NAME="mydb"
DB_SSL_MODE=""
DB_SSL_CA="" # ssl_root_cert
DB_SSL_CC="" # ssl_client_cert
DB_SSL_CK="" # ssl_client_key

# Migration Runner Account (Optional - defaults to DB_USER/DB_PASS)
DB_MIGRATION_USER=""
DB_MIGRATION_PASS=""
# Shadow Database for local prisma migrate dev (Optional if user has CREATE DB perms)
DB_MIGRATION_SHADOW_NAME="alertbox_org_dev_shadow"
DB_MIGRATION_SSL_MODE=""
DB_MIGRATION_SSL_CA="" # ssl_root_cert
DB_MIGRATION_SSL_CC="" # ssl_client_cert
DB_MIGRATION_SSL_CK="" # ssl_client_key

DISCORD_CLIENT_ID = ""
DISCORD_CLIENT_SECRET = ""

STREAMLABS_CLIENT_ID = ''
STREAMLABS_CLIENT_SECRET = ''

STORAGE_PATH = ""
CDN_BASE_URL= ""

REDIS_PASSWORD=""
REDIS_SENTINEL_PASSWORD=""
REDIS_TLS=""
REDIS_TLS_CA=""
REDIS_TLS_CERT=""
REDIS_TLS_KEY=""
REDIS_TLS_REJECT_UNAUTHORIZED=""

REDIS_SENTINEL_TLS=""
REDIS_SENTINEL_TLS_CA=""
REDIS_SENTINEL_TLS_CERT=""
REDIS_SENTINEL_TLS_KEY=""