DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASS=""
DB_NAME="mydb"

DISCORD_CLIENT_ID = ""
DISCORD_CLIENT_SECRET = ""

STREAMLABS_CLIENT_ID = ''
STREAMLABS_CLIENT_SECRET = ''

STORAGE_PATH = ""
CDN_BASE_URL= ""

REDIS_PASSWORD=""
REDIS_SENTINEL_PASSWORD=""